*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@mixin button-reset {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.wrapper {
    height: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc {
    width: 250px;
    height: 480px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monitor {
    width: 250px;
    height: 110px;
}

.keyboard {
    width: 280px;
    height: 310px;
    background-color: rgba(35, 37, 68, 0.9);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .btn {
        @include button-reset;
        width: 62px;
        height: 62px;
        color: whitesmoke;
    }
}

.equally {
    @include button-reset;
    width: 250px;
    height: 60px;
    background-color: #ee6347;
}